{% extends "blog/base.html" %}

{% block content %}

    <h1 style="text-align: center;">About Page</h1>
    <div class="card">
        <div class="card-body">
            This is a mock up website built in Django. This website has the following features:
            <ul>
                <li>Register</li>
                <li>Login/Logout</li>
                <li>Create a post</li>
                <li>Update User Profile</li>
                <li>Light/Dard Mode switching</li>
                <li>Upvote/Downvote for each post</li>
                <li>Count the views for each post</li>
                <li>Comments will be approved by the post author</li>
                <li>Search anything in this website</li>
                <li>Budgetify</li>
                <li>More to come</li>
            </ul>
        </div>
    </div>

{% endblock content %}